<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"https://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

<bean id="controller"
class="Cigma.pfe.controllers.ClientController" scope="prototype">
<property name="clientService" ref="service"/></bean> 

<bean id="service"
class="Cigma.pfe.services.ClientServiceImpl"
scope="prototype"></bean> 


<bean id="cltser"
class="Cigma.pfe.services.ClientServiceImpl" scope="prototype">
<property name="clientRepository" ref="serviceimp"/>


</bean> 













</beans>



